# Environment variables
.env

# Python
__pycache__/
*.py[cod]
*$py.class
.venv/
venv/
ENV/

# YOLO Models (Large files are better not pushed to Git)
*.pt

# IDEs
.vscode/
.idea/

# OS files
Thumbs.db
Desktop.ini
